# Firebase Configuration
NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyCLrxThe1gWXFMhqcbGv7Lo-UVqmBjcm7c
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=tangible-savers-web.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=tangible-savers-web
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=tangible-savers-web.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=797116760234
NEXT_PUBLIC_FIREBASE_APP_ID=1:797116760234:web:fda956a16fedcce66bd0d3

# Pi Network Configuration
NEXT_PUBLIC_PI_API_KEY=6epnpwubk4afvkaaocbeaoyvtukw3afomdi0hizstlpu75vt139pfgcaygsn4a02
NEXT_PUBLIC_PI_WALLET_ADDRESS=GCO7Z5ECWERWPLYEBSIKH34BIFRWFFQYDZDX7VRDCQA7WWN4AS3QLI5A
NEXT_PUBLIC_API_URL=http://localhost:3001

# Admin Configuration
NEXT_PUBLIC_ADMIN_API_KEY=your_admin_api_key_here
